altgraph==0.17.4
autopep8==2.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
importlib_metadata==7.1.0
packaging==24.1
platformdirs==4.2.1
proxmoxer==2.0.1
pycodestyle==2.11.1
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
requests==2.31.0
tomli==2.0.1
urllib3==2.2.1
yapf==0.40.2
zipp==3.18.1
